build/
backgrounds/
default_fonts/
fallback_fonts/
corpuses/
.venv/
.vscode/

cmake-build-debug/
cmake-build-release/
out/

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

*.exe
*.out
*.app

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


CMakeLists.txt.user
*.cmake
CMakeCache.txt
CMakeFiles/

vcpkg_installed/
conan/

generated/
*.egg-info/
dist/
__pycache__/
*.pyc
_skbuild/
